In [1]:
# Dependencies
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

In [2]:
!pip install selenium
!pip install splinter

Requirement already satisfied: selenium in c:\users\sk\anaconda3\envs\pythondata\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\sk\anaconda3\envs\pythondata\lib\site-packages (from selenium) (1.25.9)
Requirement already satisfied: splinter in c:\users\sk\anaconda3\envs\pythondata\lib\site-packages (0.14.0)
Requirement already satisfied: selenium>=3.141.0 in c:\users\sk\anaconda3\envs\pythondata\lib\site-packages (from splinter) (3.141.0)
Requirement already satisfied: six in c:\users\sk\anaconda3\envs\pythondata\lib\site-packages (from splinter) (1.15.0)
Requirement already satisfied: urllib3 in c:\users\sk\anaconda3\envs\pythondata\lib\site-packages (from selenium>=3.141.0->splinter) (1.25.9)

In [3]:
# Splinter browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\SK\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

NASA Mars News

In [4]:
# Red planet site URL
news_url = 'https://redplanetscience.com/'
browser.visit(news_url)

In [5]:
# Get html
html = browser.html

# BeautifulSoup
soup = BeautifulSoup(html, 'html.parser')

# News title lists
latest_news = soup.find_all('div', class_="list_text")

# Latest news    
news = latest_news[0]

# News title and paragraph
news_title = news.find('div', class_="content_title").text
news_p = news.find('div', class_="article_teaser_body").text
print(news_title)
print(news_p)

NASA's Mars Helicopter Attached to Mars 2020 Rover
The helicopter will be first aircraft to perform flight tests on another planet.

JPL Mars Space Images - Featured Image

In [6]:
# Space Images URL
featured_img_url = 'https://spaceimages-mars.com'
browser.visit(featured_img_url)

In [7]:
# Get html
featured_img_url = 'https://www.spaceimages-mars.com'
browser.visit(featured_img_url)
img_html = browser.html

# BeautifulSoup
soup = BeautifulSoup(img_html, 'html.parser')
featured_image_url  = soup.find("img", class_="headerimage fade-in")["src"]
featured_image_url = 'https://www.spaceimages-mars.com/' + featured_image_url
featured_image_url

print(featured_image_url)

https://www.spaceimages-mars.com/image/featured/mars3.jpg

Mars Facts

In [8]:
mars_facts_url = 'https://galaxyfacts-mars.com/'

In [9]:
facts_tables = pd.read_html(mars_facts_url)
facts_tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
# Dataframe 
facts_df = facts_tables[0]
facts_df.columns = ['Description', 'Mars', 'Earth']
facts_df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [11]:
# Index 
facts_df.set_index('Description','Mars','Earth', inplace=True)
facts_df

                                      Mars            Earth
  Description
0 Mars - Earth Comparison             Mars            Earth
1 Diameter:                       6,779 km        12,742 km
2 Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
3 Moons:                                 2                1
4 Distance from Sun:        227,943,824 km   149,598,262 km
5 Length of Year:           687 Earth days      365.24 days
6 Temperature:                -87 to -5 °C      -88 to 58°C

In [12]:
# Push dataframe to html
html_table = facts_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [13]:
# Html table cleaning
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th></th>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <th>Mars - Earth Comparison</th>      <td>Mars</td>      <td>Earth</td>    </tr>    <tr>      <th>1</th>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

Mars Hemispheres

In [14]:
mars_hemis_url = 'https://marshemispheres.com'
browser.visit(mars_hemis_url)
xpath = '//div//a[@class="itemLink product-item"]/img'
results = browser.find_by_xpath(xpath)
hemisphere_image_urls = []

# For loop
for i in range(len(results)):
    img = results[i]  
    img.click()
    mars_usgs_html = browser.html
    soup = BeautifulSoup(mars_usgs_html, 'html.parser')
    partial_img_url = soup.find("img", class_="wide-image")["src"]
    img_url = 'https://marshemispheres.com/' + partial_img_url
    img_title = soup.find('h2', class_="title").text
    
    # Data dictionary
    img_dict = {'img_url': img_url,
                'img_title': img_title
               }
    
    hemisphere_image_urls.append(img_dict)
    browser.back()
    results = browser.find_by_xpath(xpath)
    i = i + 1
    
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'img_title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
  'img_title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
  'img_title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
  'img_title': 'Valles Marineris Hemisphere Enhanced'}]

In [15]:
browser.quit()